body {
    overflow-x: hidden;
}

section {
    width: 100%;
    height: 55rem;
}


.nav-bar {
    margin-top: 2rem;
    z-index: 999;
    position: fixed;
}

.navbar-brand {
    margin-left: 4rem;
    font-weight: bold;
}

.navigation-bar {
    margin-right: 5rem;

}

.navigation-bar li {
    margin: 0 1.5rem;

}

.navigation-bar li a,
i {
    font-weight: bold;
    font-size: 1.2rem;
}


.bg-curcle {
    border-radius: 50rem 50rem 50rem 50rem;



    position: absolute;
    width: 1128px;
    height: 1128px;
    left: 1250px;
    top: -360px;

    background-color: #FFC43D;



}

.header-container {
    margin: 5rem auto;

}
.header-container>h1{
    font-size: 40px;
    font-weight: 700;
}
.header-container>button{
    margin-top: 2rem;
    font-weight: 700;
    width: 10rem;
    height: 3rem;
    border-radius: 4rem;
    font-size: 20px;
}

.header-container-photo {
    display: flex;
    left: 0;
    margin-top: -3rem;
    width: 25rem;
    height: 25rem;
}

.header-container-photo>img {
    position: absolute;
    left: 0;
    height: 25rem;
    width: 25rem;

}

.navBtn-main {
    color: #000000;
    border: none;
    font-weight: 500;
}

.navBtn-main:hover {
    color: #FCA311;
}

/* main bg img */
.car-img {
    transform: scaleX(-1);
}

.card-styl {
    border-radius: 0rem 1.5rem 0rem 1.5rem;
}

.card-body {

    justify-content: center;
    align-items: center;
}

.card-title i {
    margin: 0 auto;
    font-size: 2rem;
    color: #FF7B00 !important;
}
.homepage-card{
   margin-top: -15rem;
}
.box {
    width: 2rem;
    height: 2rem;
    background-color: rgb(204, 204, 204);
    border-radius: 0.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item-img {
    width: 6rem;
    height: 6rem;
    border-radius: 0.4rem;
}

.item-img:nth-child(1) {
    background-size: cover;
    /* background-image: url(../Img/items/anton-darius-wRMvOZ1CufQ-unsplash.jpg); */
}

.item-img:nth-child(2) {
    background-size: cover;
    /* background-image: url(../Img/items/tandem-x-visuals-2yNMsw-A2eI-unsplash.jpg); */
}

.item-img:nth-child(3) {
    background-size: cover;
    /* background-image: url(../Img/items/tandem-x-visuals-2yNMsw-A2eI-unsplash.jpg); */
}

.shop-item-button {
    color: #FF7B00;
    font-size: 3rem;

}

.shop-item-button:hover {
    color: #FCA311;
}

.shop-item-price {
    font-weight: 700;
}

.shop-item-title {
    text-align: center;
}

.cart-item-button {
    font-size: 2rem;

}

.cart-quantity-input {
    height: rem;
    width: 3rem;
}

.cart-cards {
    box-shadow: 2px 24px 39px -13px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 2px 24px 39px -13px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 2px 24px 39px -13px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.014);
}

.cart-cards:hover {
    transition: all 300ms ease-in-out;
    border: 1px solid #FF7B00 !important;
}

.cart-cards:focus {
    background-color: #FF7B00 !important;
}

.cart-item-cols {
    margin: 0.5rem 0;
}

.cash-out {
    margin-top: 2rem;
    width: 100%;
    height: 4rem;
    border-radius: 0.3rem;
    background-color: rgb(185, 185, 185);
    padding: 5%;
}

.text-alines {
    text-align: right;
}

.dash-line {
    border-top: 2px dashed;
    margin: 1rem 3%;

}


.cart-text-styles {
    font-weight: bold;
    color: black;
}

.pay-btn {
    width: 100% !important;
    background-color: #FF7B00;
    border: none;
}

.pay-btn:hover {
    width: 100% !important;
    background-color: #FFC43D;
    border: none;



}

.pay-btn-holder {
    margin: 1rem auto;

}


.head-text {
    color: #FF7B00;

}

.btn-main {
    background-color: #FF7B00;
    border: none;
    font-weight: 500;
}

.btn-main:hover {
    background-color: #FCA311;
}


.card-img-top {
    height: 14rem;
    border-radius: 0rem 1.5rem 0rem 1.5rem;
}

.item-cart {

    border-radius: 0rem 1.5rem 0rem 1.5rem;
}

.product-item-container {
    margin: 2.5rem 0;
}